parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
            - '#has parameter .* with generic class .* but does not specify its types:.*#'
